<div class="board">
<div class="container" style="overflow-y:scroll;height:370px;text-align:center;position:relative" >
<h3>Announcements Board</h3>
{% block content %}
		{% for announcement in announcements %}
    <div class="announcement">
        <div class="row" style="display: flex;">
        	{% if announcement.flag =='Warning!' -%}
            <p class="flag" style="background-color:#FB9B03 ">{{announcement.flag}}</p>
        	{% elif announcement.flag =='Notice' -%}
			<p class="flag" style="background-color:#1F76B1 ">{{announcement.flag}}</p>
        	{% elif announcement.flag =='Alert' -%}
            <p class="flag" style="background-color:#FE2800 ">{{announcement.flag}}</p>
			{%endif%}
            <p id="date">{{announcement.timestamp}}</p>
        </div>
        <div class="row" style="display:flex">
            <div class="img-with-text col-md-3 col-sm-4  col-lg-8">
            			<!--User image or default avatar if user has no image -->
			<img src="{{ url_for('static', filename= 'images/'+announcement.image | default('scsulogo.png')) }}" alt="brand"/>
                <p style="text-align: center;">Administration</p>
            </div>
            <div  class="col-md-9 col-lg-4 col-sm-8">
            <p id="desc">{{announcement.description}}</p>
			</div>
        </div>
    </div>
		{% endfor %}
  


</div>
	{% if isAdmin -%}
 <div class="addblock">
	<h3>Add Announcement</h3>
	<form action="" method='post' novalidate>
	{{form.hidden_tag()}}
	<p style="height:auto">
			{{ form.flag.label }}
			{{ form.flag(size=1) }}
	</p>
	<p>
		{{ form.description.label }}
		{{ form.description(size=100) }}
	</p>
	
	<p>
		{{form.submit()}}
	</p>

	</form>
 </div>
 	{%endif%}
</div>

  
{% endblock %}   
